<p id="notice"><%= notice %></p>


<p>
  <strong>Image:</strong>
  <%= image_tag(@car.image, style: 'height:50%; width:50%;') if @car.image.attached? %></div>
</p>
<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @car.desc %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
