<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Project</title>-->

<!--  </head>-->

<!--  <body>-->




<%# if notice %>
<!--    <p class="alert alert-success"><%#= notice %></p>-->
<%# end %>
<%# if alert %>
<!--    <p class="alert alert-danger"><%#= alert %></p>-->
<%# end %>
<%#= yield %>
<!--  </body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
      .blockquote-custom {
          position: relative;
          font-size: 1.1rem;
      }

      .blockquote-custom-icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -25px;
          left: 50px;
      }
      .page-holder {
          min-height: 100vh;
      }

      .bg-cover {
          background-size: cover !important;
      }
      .hover-3::after {
          content: '';
          width: calc(100% - 3rem);
          height: calc(100% - 3rem);
          border: 1px solid #fff;
          position: absolute;
          top: 1.5rem;
          left: 1.5rem;
          z-index: 90;
          transition: all 0.3s;
          transform: scale(1.1);
          opacity: 0;
          display: block;
          opacity: 0;
      }

      .hover-3-content {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          transform: translateY(-50%);
          text-align: center;
          z-index: 99;
      }

      .hover-3-description {
          opacity: 0;
          transform: scale(1.3);
          transition: all 0.3s;
      }

      .hover-3 img {
          width: 110%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }

      .hover-3 .hover-overlay {
          background: rgba(0, 0, 0, 0.2);
      }

      .hover-3:hover img {
          width: 100%;
      }

      .hover-3:hover::after {
          opacity: 1;
          transform: none;
      }

      .hover-3:hover .hover-3-description {
          opacity: 1;
          transform: none;
      }

      .hover-3:hover .hover-overlay {
          background: rgba(0, 0, 0, 0.8);
      }


      /* DEMO 4 ============================== */
      .hover-4 img {
          width: 110%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }

      .hover-4 .hover-overlay {
          background: rgba(0, 0, 0, 0.4);
          z-index: 90;
      }

      .hover-4-title {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 3rem;
          z-index: 99;
      }

      .hover-4-description {
          position: absolute;
          top: 2rem;
          left: 2rem;
          text-align: right;
          border-right: 3px solid #fff;
          padding: 0 1rem;
          z-index: 99;
          transform: translateX(-1.5rem);
          opacity: 0;
          transition: all 0.3s;
      }

      @media (min-width: 992px) {
          .hover-4-description {
              width: 50%;
          }
      }

      .hover-4:hover img {
          width: 100%;
      }

      .hover-4:hover::after {
          opacity: 1;
          transform: none;
      }

      .hover-4:hover .hover-4-description {
          opacity: 1;
          transform: none;
      }

      .hover-4:hover .hover-overlay {
          background: rgba(0, 0, 0, 0.8);
      }


      /* DEMO 5 ============================== */
      .hover-5::after {
          content: '';
          width: 100%;
          height: 10px;
          background: #47c650;
          position: absolute;
          bottom: -10px;
          left: 0;
          display: block;
          transition: all 0.3s;
          z-index: 999;
      }

      .hover-5 .hover-overlay {
          background: rgba(0, 0, 0, 0.4);
      }

      .hover-5-title {
          position: absolute;
          bottom: 1rem;
          left: 0;
          transition: all 0.3s;
          padding: 2rem 3rem;
          z-index: 99;
      }

      .hover-5-title span {
          transition: all 0.4s;
          opacity: 0;
          color: #47c650;
      }

      .hover-5:hover .hover-overlay {
          background: rgba(0, 0, 0, 0.8);
      }

      .hover-5:hover .hover-5-title {
          bottom: 0;
      }

      .hover-5:hover .hover-5-title span {
          opacity: 1;
      }

      .hover-5:hover::after {
          bottom: 0;
      }

      .body12 {
          min-height: 100vh;
      }
      .bg-cover {
          background-size: cover !important;
      }
      body {
          background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
          color: #514B64;
          min-height: 100vh;
      }

      code {
          background: #fff;
          padding: 0.2rem;
          border-radius: 0.2rem;
          margin: 0 0.3rem;
      }
      a:link, a:visited {
          text-align: center;
          text-decoration: none;
          color: white;

      }
  </style>
  <title>Autotraders</title>
  <link rel="shortcut icon" href="m1.jpg" width="1000px">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <%= image_tag("p.png", height: '45', width: '45', class: "d-inline-block align-middle mr-2")%>
      <!-- Logo Text -->
      <a href="#"> <span class="text-uppercase font-weight-bold">AutoTraders</span></a>
    </a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <li id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'New Old', new_old_path,class:"nav-link"%></li>
        <li class="nav-item">
          <%= link_to 'Add New Car', new_car_path , class:"nav-link"  %></li>
        <li class="nav-item">
          <%= link_to "New Car", "/cars", class:"nav-link" %></li>
        <li class="nav-item">
          <%= link_to "Used Car", "/olds", class:"nav-link" %></li>
        </li>
        <li class="nav-item">
          <div class="item">
            <div class="ui form">
              <%= form_with url: '/gallery/search',local: true, id:"form-section", method: :get do |form|%>
                <%= form.text_field :search %>
                <%= form.submit "search" ,id:".notify-btn"  %>
              <% end %>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Team", "/autotrader/team", class:"nav-link" %></li>
        </li>
        <li class="nav-item">
          <%= link_to "Sell", "/autotrader/sale", class:"nav-link" %></li>
        </li>
        <li class="nav-item">
          <%= link_to "About", "/autotrader/about", class:"nav-link" %></li>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "/autotrader/contact", class:"nav-link" %></li>
        </li>
        <li class="nav-item" >
          <%= link_to "Cart", '/line_items', class:"ui orange button"%>
        </li>
        <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "logout", destroy_user_session_path, :method => "delete",:class =>"nav-link" %>
            <% else %>
              <%= link_to "Signup/Login", new_user_registration_path, :class =>"nav-link"  %>
            <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Chat", "/autotrader/chat", :class =>"nav-link" %></li>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>
</body>
</html>